<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<!-- Melyik szolgáltató?
		<add key="provider" value="System.Data.sqlclient" /> -->
	</appSettings>
		
	<!-- Itt következnek a kapcsolatsztringek -->
	<connectionStrings>
		<!-- <add name ="SqlProvider" connectionString= "Data Source=(local)\MSSQLEXPRESS; Integrated Security=SSPI;Initial Catalog=Iktat"/>
		<add name ="oleDbProvider" connectionstring = "Provider=SQLOLEDB;Data Source=(local)\MSSQLEXPRESS;Integrated Security=SSPI;Initial catalog=Iktat"/> -->
		<add name="MyDbConnection" connectionString="Server='localhost';Database='iktato';User Id='root';Password='';" providerName="MySql.Data.MySqlClient"/>
	</connectionStrings>
</configuration>
